{%  extends 'base.html.twig' %}
{% block title%}

	{{  parent()}} - Register
{% endblock %}
{% block content %}
		
	<h1>Register for 'FÜF'</h1>
	<form method="POST">
		<label>
			Username:
			<input type="text" name="username" value="{{ username }}">
		</label>
		<label>
			Email:
			<input type="email" name="email" value="{{ email }}"/>
		</label>
		<p></p>
		<label>
			Password:
			<input type="password" name="password" />
		</label>
		<p></p>
		<div class="error">{{ error }}</div>
		<input type="hidden" name="registercsrf" value="{{ registerCsrf }}">
		<input type="submit" name="register" value="Register" />
	
	</form>
	<footer>
	<p>&copy; 2017 FÜF by Florian Metz</p>
</footer>	
{% endblock %}